/*公共样式*/
html {
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  background: #f5f5f5;
  font-size: 14px;
  color: #000000;
  font-family: "宋体", "黑体";
}
div,
form,
img,
ul,
ol,
li,
dl,
dt,
dd {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
form,
p,
span {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
table,
tr,
td {
  word-break: break-all;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  vertical-align: middle;
}
input {
  outline: none;
  font-family: "宋体", "黑体";
  padding: 0px;
  border: 0px;
  margin: 0px;
}
a {
  color: black;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
a:hover {
  color: #ff9900;
  text-decoration: none;
  outline: none;
}
em,
i {
  font-style: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.mt_05 {
  margin-top: 5px;
}
.mt_10 {
  margin-top: 10px;
}
.mt_15 {
  margin-top: 15px!important;
}
.mt_20 {
  margin-top: 20px;
}
.mt_25 {
  margin-top: 25px!important;
}
.mt_30 {
  margin-top: 30px!important;
}
.mt_40 {
  margin-top: 40px!important;
}
.mt_45 {
  margin-top: 45px;
}
.mt_50 {
  margin-top: 50px;
}
.mt_60 {
  margin-top: 60px!important;
}
.mt_80 {
  margin-top: 80px!important;
}
.mr_10 {
  margin-right: 10px;
  _display: inline;
}
.mr_20 {
  margin-right: 20px;
  _display: inline;
}
.ml_10 {
  margin-left: 10px;
  _display: inline;
}
.ml_20 {
  margin-left: 20px;
  _display: inline;
}
.pt_40 {
  padding-top: 40px;
}
.pb_10 {
  padding-bottom: 10px;
}
.pb_20 {
  padding-bottom: 20px;
}
.pl_10 {
  padding-left: 10px;
}
.pr_10 {
  padding-right: 10px;
}
.w_100bfb {
  width: 100%;
  margin: 0px auto;
}
.w_100bfb01 {
  width: 100%;
  float: left;
}
.fon_12 {
  font-size: 12px;
}
.fon_16 {
  font-size: 16px;
}
.fon_18 {
  font-size: 18px;
}
.pointer {
  cursor: pointer;
}
.none_01 {
  display: none;
}
.dy_dd {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.jzxx {
  text-align: center;
}
.del_x {
  text-decoration: line-through;
}
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfloat {
  zoom: 1;
}
.w_1226 {
  width: 1226px;
  margin: 0px auto;
}
/*公共样式*/
.heibeijing {
  background: #000000;
}
.nav {
  overflow: hidden;
  font-size: 14px;
  color: #868686;
}
.nav a {
  color: #dddddd;
}
.nav a:hover {
  color: #868686;
}
.nav ul {
  height: 49px;
  line-height: 49px;
}
.nav ul li {
  float: left;
  cursor: pointer;
}
.zi {
  font-size: 24px;
}
.nav_right li {
  margin-left: 30px;
}
.banner {
  position: relative;
}
.banner_yuan {
  position: absolute;
  text-align: center;
  bottom: 50px;
  left: 50%;
  display: inline-block;
}
.banner_yuan span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #b2b2b2;
  float: left;
  margin-left: 20px;
}
.banner_yuan span:first-child {
  margin-left: 0px;
}
.banner1 {
  background: url("../img/MIUIbanner.jpg") no-repeat scroll center top;
  height: 659px;
  cursor: pointer;
}
.content {
  overflow: hidden;
  padding: 55px 0px;
  border-bottom: 1px solid #B0B0B0;
}
.content img {
  width: 48px;
  height: 48px;
  margin-right: 24px;
  display: block;
}
.content ul {
  width: 33.3%;
  text-align: left;
  float: left;
  box-sizing: border-box;
  padding-left: 40px;
}
.content ul h3 {
  font-size: 20px;
  cursor: pointer;
  line-height: 28px;
}
.content ul p {
  font-size: 14px;
  cursor: pointer;
  color: #B0B0B0;
}
.content_bk {
  border-right: 1px solid #B0B0B0;
}
.foot {
  padding-top: 60px;
}
.foot ul {
  text-align: center;
}
.picwx {
  position: absolute;
  top: -94px;
  left: 475px;
  display: none;
}
.foot_nav1:hover .picwx {
  display: block;
}
.foot_nav {
  margin-bottom: 20px;
  position: relative;
}
.foot_nav li {
  display: inline-block;
  border-right: 1px solid #B0B0B0;
  padding: 0px 10px 0px 5px;
}
.foot_nav li:last-child {
  border-right: none;
}
.foot_nav li a {
  font-size: 14px;
  color: #858585;
}
.foot_nav li a:hover {
  color: #ff9900;
  text-decoration: underline;
}
.foot1 {
  margin-bottom: 50px;
  font-size: 11px;
  color: #c5c6c8;
}
